env
.vscode
api/__pycache__/__init__.cpython-36.pyc
api/__pycache__/admin.cpython-36.pyc
api/__pycache__/forms.cpython-36.pyc
api/__pycache__/models.cpython-36.pyc
api/__pycache__/serializers.cpython-36.pyc
api/__pycache__/urls.cpython-36.pyc
api/__pycache__/views.cpython-36.pyc
api/migrations/__pycache__/__init__.cpython-36.pyc
api/migrations/__pycache__/0001_initial.cpython-36.pyc
api/migrations/__pycache__/0002_auto_20210113_1339.cpython-36.pyc
api/migrations/__pycache__/0003_auto_20210113_1350.cpython-36.pyc
mainApp/__pycache__/__init__.cpython-36.pyc
mainApp/__pycache__/admin.cpython-36.pyc
mainApp/__pycache__/forms.cpython-36.pyc
mainApp/__pycache__/models.cpython-36.pyc
mainApp/__pycache__/urls.cpython-36.pyc
mainApp/__pycache__/views.cpython-36.pyc
mainApp/migrations/__pycache__/__init__.cpython-36.pyc
stackhack/__pycache__/__init__.cpython-36.pyc
stackhack/__pycache__/settings.cpython-36.pyc
stackhack/__pycache__/urls.cpython-36.pyc
stackhack/__pycache__/wsgi.cpython-36.pyc
