<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{home}}">TnP Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{home}}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/dash' %} active {% endif %} "
                        href="{% url 'dash' %}">DashBoard</a>
                </li>

                {% if request.user.is_superuser %}

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/admin/addcompany/' %} active {% endif %} "
                        href="{% url 'profile' %}">Shortlist Students</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/profile' %} active {% endif %} "
                        href="{% url 'profile' %}">Profile</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link">Logged in as {{ user.username }}</a>
                </li>
                <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </ul>
            {% else %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}" method="GET">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
            </form>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <br><br><br><br>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>